
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    line-height: 1.5;
  font-family: "Work Sans", sans-serif
}
.styleImg{
    width: 50%;
    height: 200px;
   /* border: 2px solid red;*/
    object-fit: cover;
    padding: 20px 10% 2em, 5rem;
    padding: 30px;
    padding: 20px 12px;
    padding: 10px 40px 4px;
    margin: 20px 10% 2em 5rem;
    margin: 20px auto ;
}
.parent a{
    color: red;
}
.parent>.info{
    border: 2px solid red;
    width: 30%;
    float: right;
}
body>.parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

}
.parent > .lay3{
    width: 30%;
}
tr:nth-child (odd){
    color: : red;
}
tr:nth-child(even){
    color: gray;
}